DATABASE_URL=postgresql://user:password@localhost:5432/project_name
NEXTAUTH_SECRET=your_secret
OPENAI_API_KEY=your_openai_key
PINECONE_API_KEY=your_pinecone_key
PINECONE_ENVIRONMENT=your_pinecone_env